@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
}

*,
::after,
::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}

p {
  margin: 15px 0;
  margin-top: 15px;
  margin-bottom: 15px;
}
audio,
iframe,
img,
video {
  max-width: 100%;
  vertical-align: top;
}

body {
  font-size: 15px;
  font-family: 'Open', sans-serif;
  color: #231f20;
  /* font-family: 'Lato',arial; */
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.main-block {
  width: 100%;
  height: 100vh;
}

.site-banner {
  display: flex;
}
.site-banner-img {
  width: 60%;
  height: auto;
}
.site-banner-img > img {
  width: 100%;
  height: auto;
}
.icons-grp {
  width: 40%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border: none;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.icon2 {
  background: rgb(213, 226, 91);
}

.icon1 {
  background-color: #e3fbe3;
}
.icon > img {
  margin: 1em;
}

.diseaseSection {
  margin-top: 2em;
}
.section {
  padding: 15px 0;
  overflow: hidden;
}

.cont-head > h1 {
  text-align: center;
  font-size: 3rem;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.diseaseSection .container .row {
  display: flex;
  gap: 2em;
  margin: 1em 7em;
}

.icon-box {
  border: 1px solid;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  position: relative;
  overflow: hidden;
  background: rgb(213, 226, 91);
  box-shadow: 0 0 29px 0 rgb(68 88 144 / 12%);
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
  z-index: 1;
}

.icon-box:hover {
  color: #fff;
  background-color: #1b5e00;
  transition: all 0.3s ease-in-out;
}

.body-icon {
  border: none;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 15px;
}

.icon-box > h4 {
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 15px;
  text-transform: capitalize;
}

.icon-box > p {
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 0;
}

.btn-grp {
  padding-top: 35px;
}
.more-med-btn {
  text-align: center;
  padding: 1em 3em;
  border: 1px solid #1b5e00;
  color: #1b5e00;
  background: none;
}

.more-med-btn:hover {
  color: #fff;
  background: #1b5e00;
  transition: all 0.3s ease-in;
  cursor: pointer;
}

/* Why Choose Section */

.whychoose {
  margin: 4em 7em;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.why-header {
  margin-top: 1.9em;
}
.why-header > h2 {
  text-align: center;
  font-size: 3.3rem;
  font-weight: 700;
}

.why-text {
  max-width: 70%;
  margin-top: 1.1em;
}
.why-text > p {
  text-align: center;
  line-height: 1.6em;
  color: rgba(35, 31, 32, 0.7);
  font-weight: 300;
}

.whychoose-grid {
  margin: 0 auto;
  max-width: 10000px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  padding-top: 30px;
  width: 100%;
}

.whychoose-grid * {
  box-sizing: border-box;
}

.whychoose-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.card-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  display: block;
}

.card-details {
  line-height: 1.5;
  font-size: 1em;
  padding: 15px;
  background-color: rgb(213, 226, 91);
}

.card-details > p {
  color: #1b5e00;
  font-weight: 700;
}

.whychoose-card > img {
}

/* Service section */
.service {
  margin: 4em 7em;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-title > h2 {
  text-align: center;
  position: relative;
  margin-bottom: 10px;
  padding-bottom: 10px;
  font-size: 3rem;
  margin-top: 1em;
}
.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 30px;
  height: 3px;
  background: #00740f;
  background: #1b5e00;
  bottom: 0;
  left: calc(50% - 25px);
}

.section-title > p {
  text-align: center;
  color: rgba(35, 31, 32, 0.7);
  line-height: 1.4;
  font-size: 1.2rem;
  padding-bottom: 10px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.service-row {
  /* display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; */

  margin: 0 auto;
  max-width: 10000px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  padding-top: 30px;
  width: 100%;
}
.service-card {
  /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
  transition: 0.3s;
  text-align: center;
  margin-bottom: 20px;
}

.service-icon {
  display: flex;
  justify-content: center;
}

.service-icon > i {
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
  background: #fff;
  border-radius: 50%;
  transition: 0.5s;
  color: #00740f;
  color: #1b5e00;
  font-size: 40px;
  overflow: hidden;
  padding-top: 20px;
  box-shadow: 0px 0 25px rgb(0 0 0 / 15%);
}

.service-title {
  font-weight: 600;
  margin-bottom: 15px;
  font-size: 18px;
  position: relative;
  padding-bottom: 15px;
}

.service-title::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 2px;
  background: #1b5e00;
  bottom: 0;
  left: calc(50% - 25px);
}

.service .description {
  line-height: 24px;
  font-size: 14px;
}

.service-btn-grp {
  margin-top: 3em;
  display: flex;
  justify-content: space-between;
  min-width: 43%;
}

.service-appointment-btn {
  text-align: center;
  padding: 1em 3em;
  border: 1px solid #1b5e00;
  color: #1b5e00;
  background: none;
}

.service-appointment-btn:hover {
  background-color: #1b5e00;
  color: #fff;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

/* Aryuveda Advantage */

.advantage-section {
  padding: 95px 0;
  padding-bottom: 100px;
  background-color: #e3fbe3;
}

.whythis {
  width: 85%;
  margin: 0 7em;
}
.advantage-container {
  /* overflow: hidden; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
}

.advantage-row {
  width: 66%;
}
.advantage-grp {
  color: rgba(35, 31, 32, 0.7);
  font-size: 136%;
  font-weight: 300;
  line-height: 1.55;
  width: 95%;
  max-width: 675px;
  padding: 0 0 30px;
  padding-bottom: 30px;
}

/* .advantage-content-grp {
  padding-bottom: 30px;
} */
.advantage-title {
  position: relative;
  margin-bottom: 10px;
  padding-bottom: 10px;
  font-size: 2rem;
  line-height: 1.1;
  margin-top: 1em;
}

.advantage-title > span {
  color: #1b5e00;
}

.advantage-dis {
  font-family: 'Lato' sans-serif !important;
  color: rgba(35, 31, 32, 0.7);
  font-size: 18px;
}

.advantage-dis > span {
  color: #1b5e00;
}

.advantage-list {
  display: flex;
  flex-wrap: nowrap;
  padding: 0;
  margin: 0 -6px;
}

.advantage-card {
  width: 25%;
  padding: 0 6px;
  margin: 26px 9px 0;
  background: #fff;
}

.advantage-card-detail {
  width: 100%;
  height: 100%;
  min-height: 260px;
  padding: 30px 28px 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
}

.advantage-icon {
  display: block;
  width: 100%;
}

.advantage-icon > i {
  margin-bottom: 15px;
  min-height: 52%;
  max-height: 48px;
  max-width: 62px;
}

.advantage-detail {
  color: #200;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.2;
  text-transform: uppercase;
}
.form-section {
  width: 33%;
}
.advantage-frm-grp {
  width: 90%;
  max-width: 270px;
  margin: 0 auto;
}

.form-title {
  font-size: 25px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 17px;
}

.slct-input {
  position: relative;
}
.input-grp {
  padding-bottom: 3px;
  width: 100%;
  overflow: hidden;
  margin: 0;
}

.input-grp .slct-input-grp select {
  color: rgba(0, 0, 0, 0.7);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.input-grp select,
.input-grp input,
.input-grp select,
.input-grp textarea {
  display: block;
  color: #000;
  font-family: 'Lato', arial;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  border: 0 none;
  padding: 24px 25px;
  margin: 5px 0 0;
  width: 100%;
  max-width: 100%;
}

.input-grp .slct-input-grp select,
.input-grp .slct-input-grp select {
  color: rgba(0, 0, 0, 0.7);
}

.inputgrp .select,
.inputgrp input,
.inputgrp select,
.inputgrp textarea {
  font-size: 13px;
}
.input-grp .slct-input-grp::after {
  content: "";
width: 13px;
height: 6px;
background-image: url(./assets/img/selectinput-arrow.png);
background-repeat: no-repeat;
background-size: contain;
position: absolute;
top: 50%;
left: auto;
right: 30px;
transform: translateY(-50%);
opacity: .7;
}

.frm-btn {
  width: 100%;
  max-width: 100%;
  margin: 20px 0 0;
  cursor: pointer;
  color: #fff;
  font-family: "Lato", arial;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.45;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  transition: all 0.3s ease-in-out;
  background-color: #1b5e00;
  border: 1px solid #1b5e00;
  padding: 24px 25px;
  margin: 10px 0;
  display: inline-block;
  vertical-align: top;
  min-width: 100px;
}

.frm-btn:hover {
  background-color: #fff;
  color: #1b5e00;
}

/* Stories Section */

.stories-section {
  padding: 105px 0;
  /* background-color: #f4f1ea; */
  position: relative;
  overflow: hidden;
}

.story-cont {
  width: 85%;
  max-width: 1385px;
  margin-left: auto;
  margin-right: auto;
}

.stories-section .secheader-grp {
  font-size: 136%;
  text-transform: capitalize;
}
.section-head-grp {
  width: 95%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px 0 32px;
  padding-bottom: 38px;
  font-size: 136%;
  text-transform: capitalize;
  font-size: 136%;
  font-weight: 300;
  text-align: center;
}

.section-head-grp>p{
  color: rgba(35, 31, 32, 0.7);
  font-size: 17px;
  margin: 0;
  padding: 0;
}
.stories-column {
  float: left;
  width: 33.33%;
  padding: 0 20px;
  
}

.stories-row {margin: 0 -5px;}

/* Clear floats after the columns */
.stories-row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 810px) {
  .stories-column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 0;
  min-height: 512px;
  background-color: #f1f1f1;
}

/* .stories-profile{
  margin-bottom: 1em;
} */
.card img{
  width: 100%;
    height: 20vw;
    object-fit: cover; 
}

.profile-detail{
  font-size: 15px;
  color: rgba(34,0,0,.8);
font-weight: 300;
line-height: 1.55;
padding: 18px 25px;
}

.profile-detail>h4{
  color: #1b5e00;
  font-size: 19.19px;
}

.stories-btn-grp{
  padding: 35px 0 0;
  text-align: center;
}
.stories-btn-grp>a{
  text-decoration: none;
}
.stories-btn{
  color: #1b5e00;
font-size: 14px;
font-weight: 700;
line-height: 1.5;
letter-spacing: 2px;
text-transform: uppercase;
padding: 17.5px 40px;
transition: all .3s ease-in-out;
border: 1px solid #1b5e00;
display: inline-block;
vertical-align: top;
margin: 15px 0 12px;
}

.stories-btn:hover{
  background-color: #1b5e00;
  color: #fff;
}

@media screen and (max-width: 810px) {
  .site-banner {
    height: 60%;
    flex-direction: column;
    width: 100%;
  }
  .site-banner-img {
    height: auto;
    width: 100%;
  }
  .site-banner-img > img {
    width: 100%;
    height: auto;
  }
  .icons-grp {
    width: 100%;
    height: 40%;
  }
  ul .stories-list {
    margin: 0 -20px;
  }
}


