@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
}

*,
::after,
::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}

p {
  margin: 15px 0;
  margin-top: 15px;
  margin-bottom: 15px;
}
.mt-3 {
  margin-top: 1rem !important;
}

button,
input {
  overflow: visible;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

[type="button"],
[type="reset"],
[type="submit"],
button {
  -webkit-appearance: button;
}

input:focus,
textaria:focus,
select:focus {
  outline: none;
}

audio,
iframe,
img,
video {
  max-width: 100%;
  vertical-align: top;
}

body {
  font-size: 15px;
  font-family: "Open", sans-serif;
  color: #231f20;
  /* font-family: 'Lato',arial; */
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.main-block {
  width: 100%;
  height: 100vh;
}

.site-banner {
  display: flex;
}
.site-banner-img {
  width: 60%;
  height: auto;
}
.site-banner-img > img {
  width: 100%;
  height: auto;
}
.icons-grp {
  width: 40%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border: none;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.icon2 {
  background: rgb(213, 226, 91);
}

.icon1 {
  background-color: #e3fbe3;
}
.icon > img {
  margin: 1em;
}
.icon p {
  text-align: center;
}

/* Disease section */

.diseaseSection {
  position: relative;
  padding: 42px 0;
  overflow: hidden;
  margin-bottom: 40px;
}

.diseaseContainer {
  width: 82%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.disease-title {
  padding: 10px 0 44px;
  font-size: 1.7rem;
  text-align: center;
}

.disease-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.icon-box-cover {
  align-items: stretch !important;
  display: flex !important;

  position: relative;
  width: 25%;
  padding-right: 15px;
  padding-left: 15px;
}

.icon-box {
  padding: 30px;
  position: relative;
  overflow: hidden;
  background: rgb(213, 226, 91);
  box-shadow: 0 0 29px 0 rgb(68 88 144 / 12%);
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
  z-index: 1;
}

.icon-box::before {
  content: "";
  position: absolute;
  background: #d9f1f2;
  right: 0;
  left: 0;
  bottom: 0;
  top: 100%;
  transition: all 0.3s;
  z-index: -1;
}

.icon-box:hover {
  background-color: #00740f;
  transition: all 0.3s ease-in-out;
  color: #fff;
}

.disease-icon {
  margin-bottom: 15px;
}

.disease-icon i {
  font-size: 48px;
  line-height: 1;
  color: #1b5e00;
  transition: all 0.3s ease-in-out;
}

.disease-icon i:hover {
  color: #fff;
}

.icofont-baby:before {
  content: "\eba1";
}

.title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

.description {
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 0;
}

.more-btn-grp {
  padding: 35px 0 0;
  text-align: center;
}
.more-btn-grp > a {
  text-decoration: none;
}
.more-btn {
  color: #1b5e00;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 17.5px 40px;
  transition: all 0.3s ease-in-out;
  border: 1px solid #1b5e00;
  display: inline-block;
  vertical-align: top;
  margin: 15px 0 12px;
}

.more-btn:hover {
  background-color: #1b5e00;
  color: #fff;
}

/* Why Choose Section */
.whychoose-section {
  position: relative;
  padding: 42px 0;
  overflow: hidden;
  background-color: #e3fbe3;
}
.whychoose {
  overflow: hidden;
  width: 82%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 40px;
}

.why-header {
  margin-top: 1.9em;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.why-header > h1 {
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
}

.why-text {
  max-width: 70%;
}
.why-text > p {
  text-align: center;
  line-height: 1.6em;
  color: rgba(35, 31, 32, 0.7);
  font-weight: 300;
}

.whychoose-grid {
  margin: 0 auto;
  max-width: 10000px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  padding-top: 30px;
  width: 100%;
}

.whychoose-grid * {
  box-sizing: border-box;
}

.whychoose-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.card-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  display: block;
}

.card-details {
  line-height: 1.5;
  font-size: 1em;
  padding: 15px;
  background-color: rgb(213, 226, 91);
}

.card-details > p {
  color: #1b5e00;
  font-weight: 700;
}

/* Service section */
.service-section {
  position: relative;
  padding: 42px 0;
  overflow: hidden;

  margin-bottom: 40px;
}
.service {
  overflow: hidden;
  width: 82%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.section-title > h2 {
  text-align: center;
  position: relative;
  margin-bottom: 10px;
  padding-bottom: 10px;
  font-size: 2.6rem;
  margin-top: 1em;
}
.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 30px;
  height: 3px;
  background: #00740f;
  background: #1b5e00;
  bottom: 0;
  left: calc(50% - 25px);
}

.section-title > p {
  text-align: center;
  color: rgba(35, 31, 32, 0.7);
  line-height: 1.4;
  font-size: 1rem;
  padding-bottom: 10px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.service-row {
  /* display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; */

  margin: 0 auto;
  max-width: 10000px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  padding-top: 30px;
  width: 100%;
}
.service-card {
  /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
  transition: 0.3s;
  text-align: center;
  margin-bottom: 20px;
}

.service-icon {
  display: flex;
  justify-content: center;
}

.service-icon > i {
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
  background: #fff;
  border-radius: 50%;
  transition: 0.5s;
  color: #00740f;
  color: #1b5e00;
  font-size: 40px;
  overflow: hidden;
  padding-top: 20px;
  box-shadow: 0px 0 25px rgb(0 0 0 / 15%);
}

.service-title {
  font-weight: 600;
  margin-bottom: 15px;
  font-size: 18px;
  position: relative;
  padding-bottom: 15px;
}

.service-title::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 2px;
  background: #1b5e00;
  bottom: 0;
  left: calc(50% - 25px);
}

.service .description {
  line-height: 24px;
  font-size: 14px;
}

.service-btn-grp {
  margin-top: 3em;
  min-width: 43%;
  text-align: center;
}

.service-appointment-btn {
  text-align: center;
  padding: 1em 3em;
  border: 1px solid #1b5e00;
  color: #1b5e00;
  background: none;
  margin: 0 7px;
}

.service-appointment-btn:hover {
  background-color: #1b5e00;
  color: #fff;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

/* Aryuveda Advantage */

.advantage-section {
  /* padding: 95px 0;
  padding-bottom: 100px; */
  position: relative;
  padding: 42px 0;
  overflow: hidden;
  background-color: #e3fbe3;
}

.whythis {
  overflow: hidden;
  width: 82%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.advantage-container {
  /* overflow: hidden; */
  display: flex;
  /* flex-direction: row; */
  /* flex-wrap: wrap; */
  align-items: flex-end;
}

.advantage-row {
  width: 66%;
}
.advantage-grp {
  color: rgba(35, 31, 32, 0.7);
  font-size: 136%;
  font-weight: 300;
  line-height: 1.55;
  width: 95%;
  max-width: 675px;
  padding: 0 0 30px;
  padding-bottom: 30px;
}

/* .advantage-content-grp {
  padding-bottom: 30px;
} */
.advantage-title {
  position: relative;
  margin-bottom: 10px;
  padding-bottom: 10px;
  font-size: 2rem;
  line-height: 1.1;
  margin-top: 1em;
}

.advantage-title > span {
  color: #1b5e00;
}

.advantage-dis {
  font-family: "Lato" sans-serif !important;
  color: rgba(35, 31, 32, 0.7);
  font-size: 17px;
}

.advantage-dis > span {
  color: #1b5e00;
}

.advantage-list {
  display: flex;
  flex-wrap: nowrap;
  padding: 0;
  margin: 0 -6px;
}

.advantage-card {
  width: 25%;
  padding: 0 6px;
  margin: 26px 9px 0;
  background: #fff;
}

.advantage-card-detail {
  width: 100%;
  height: 100%;
  min-height: 260px;
  padding: 30px 28px 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
}

.advantage-icon {
  display: block;
  width: 100%;
}

.advantage-icon > i {
  margin-bottom: 15px;
  min-height: 52%;
  max-height: 48px;
  max-width: 62px;
}

.advantage-detail {
  color: #200;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.2;
  text-transform: uppercase;
}
.form-section {
  width: 33%;
}
.advantage-frm-grp {
  width: 90%;
  max-width: 270px;
  margin: 0 auto;
}

.form-title {
  font-size: 25px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 17px;
  min-width: 394px;
}

.slct-input {
  position: relative;
}
.input-grp {
  padding-bottom: 3px;
  width: 100%;
  overflow: hidden;
  margin: 0;
}

.input-grp .slct-input-grp select {
  color: rgba(0, 0, 0, 0.7);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.input-grp select,
.input-grp input,
.input-grp select,
.input-grp textarea {
  display: block;
  color: #000;
  font-family: "Lato", arial;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.4;
  border: 0 none;
  padding: 24px 25px;
  margin: 5px 0 0;
  width: 100%;
  max-width: 100%;
}

.input-grp .slct-input-grp select,
.input-grp .slct-input-grp select {
  color: rgba(0, 0, 0, 0.7);
}

.inputgrp .select,
.inputgrp input,
.inputgrp select,
.inputgrp textarea {
  font-size: 13px;
}
.input-grp .slct-input-grp::after {
  content: "";
  width: 13px;
  height: 6px;
  background-image: url(./assets/img/selectinput-arrow.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 50%;
  left: auto;
  right: 30px;
  transform: translateY(-50%);
  opacity: 0.7;
}

.frm-btn {
  width: 100%;
  max-width: 100%;
  margin: 20px 0 0;
  cursor: pointer;
  color: #fff;
  font-family: "Lato", arial;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.45;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  transition: all 0.3s ease-in-out;
  background-color: #1b5e00;
  border: 1px solid #1b5e00;
  padding: 24px 25px;
  margin: 10px 0;
  display: inline-block;
  vertical-align: top;
  min-width: 100px;
}

.frm-btn:hover {
  background-color: #fff;
  color: #1b5e00;
}

/* Stories Section */

.stories-section {
  position: relative;
  padding: 42px 0;
  overflow: hidden;
  /* background-color: #e3fbe3; */
}

.story-cont {
  width: 82%;
  max-width: 1385px;
  margin-left: auto;
  margin-right: auto;
}

.stories-section .secheader-grp {
  font-size: 136%;
  text-transform: capitalize;
}
.section-head-grp {
  width: 95%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px 0 32px;
  padding-bottom: 38px;
  font-size: 136%;
  text-transform: capitalize;
  font-size: 136%;
  font-weight: 300;
  text-align: center;
}

.section-head-grp > p {
  color: rgba(35, 31, 32, 0.7);
  font-size: 17px;
  margin: 0;
  padding: 0;
}
.stories-column {
  float: left;
  width: 33.33%;
  padding: 0 20px;
}

.stories-row {
  margin: 0 -5px;
}

/* Clear floats after the columns */
.stories-row:after {
  content: "";
  display: table;
  clear: both;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 0;
  min-height: 512px;
  background-color: #f1f1f1;
}

.card img {
  width: 100%;
  height: 20vw;
  object-fit: cover;
}

.profile-detail {
  font-size: 15px;
  color: rgba(34, 0, 0, 0.8);
  font-weight: 300;
  line-height: 1.55;
  padding: 18px 25px;
}

.profile-detail > h4 {
  color: #1b5e00;
  font-size: 19.19px;
}

.stories-btn-grp {
  padding: 35px 0 0;
  text-align: center;
}
.stories-btn-grp > a {
  text-decoration: none;
}
.stories-btn {
  color: #1b5e00;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 13.5px 45px;
  transition: all 0.3s ease-in-out;
  border: 1px solid #1b5e00;
  display: inline-block;
  vertical-align: top;
  margin: 15px 0 12px;
}

.stories-btn:hover {
  background-color: #1b5e00;
  color: #fff;
}

/* footer section */

.footer-section {
  background: #eeeeee;
  padding: 0 0 30px 0;
  color: #555555;
  font-size: 14px;
}

.footer-section .footer-top {
  background: #f6f6f6;
  padding: 60px 0 30px 0;
}

.footer-cont {
  width: 82%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.footer-row {
  display: flex;
  /* flex-wrap: wrap; */
  margin-right: -15px;
  margin-left: -15px;
}

.footer-info-grp {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.footer-info {
  margin-bottom: 30px;
}

.footer-info h3 {
  font-size: 24px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
}

.footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Roboto", sans-serif;
}

.footer-top h4 {
  font-size: 16px;
  font-weight: 600;
  position: relative;
  padding-bottom: 12px;
}

.social-links a {
  font-size: 18px;
  display: inline-block;
  background: #1b5e00;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 4px;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  text-decoration: none;
}

.social-links a:hover {
  background-color: #00740f;
}
.footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 10px;
}

.footer-links ul li:first-child {
  padding-top: 0;
}
.footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
  text-align: -webkit-match-parent;
}

.footer-links ul a {
  color: #555555;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
}

.footer-links ul a:hover {
  color: #1b5e00;
}
.footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border: 1px solid #d5d5d5;
  border-radius: 4px;
}

.footer-newsletter form input[type="email"] {
  border: 0;
  padding: 4px;
  width: calc(100% - 110px);
}

.footer-newsletter form input[type="submit"] {
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;

  background: #1b5e00;
  color: #fff;
  transition: 0.3s;
  border-radius: 0 4px 4px 0;
}

.footer-newsletter form input[type="submit"]:hover {
  background: #00740f;
  cursor: pointer;
}

.footer-copy {
  width: 100%;
  max-width: 1140px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.copyright-text {
  text-align: center;
  padding-top: 30px;
}
.copy-credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
}

.copy-credits a {
  text-decoration: none;
  background-color: transparent;
  color: #1b5e00;
}

/* Fab button styling */

.fab-container {
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 999;
  cursor: pointer;
}

.fab-icon-holder {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: rgb(213, 226, 91);
  background: #339e66ff;

  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.fab-icon-holder:hover {
  opacity: 0.8;
}

.fab-icon-holder i {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
  font-size: 25px;
  color: #ffffff;
}

.fab {
  width: 60px;
  height: 60px;
  background: #1b5e00;
}

.fab-options {
  list-style-type: none;
  margin: 0;

  position: absolute;
  bottom: 70px;
  right: 0;

  opacity: 0;

  transition: all 0.3s ease;
  transform: scale(0);
  transform-origin: 85% bottom;
}

.fab:hover + .fab-options,
.fab-options:hover {
  opacity: 1;
  transform: scale(1);
}

.fab-options li {
  display: flex;
  justify-content: flex-end;
  padding: 5px;
}

.fab-label {
  padding: 2px 5px;
  align-self: center;
  user-select: none;
  white-space: nowrap;
  border-radius: 3px;
  font-size: 16px;
  background: #7db46cff;
  color: #e7ebe0ff;
  font-size: 17px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
  margin-right: 10px;
}

/* another modal */

.fab-container2 {
  position: fixed;
  bottom: 50px;
  left: 50px;
  z-index: 999;
  cursor: pointer;
  background: transparent;
}

.fab-container2 > button {
  /* border-radius: 50%; */
  height: 60px;
  width: 60px;
  border: none;
  background: transparent;
}
.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  padding: 0 30px;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

body {
  scrollbar-width: thin; /* "auto" or "thin" */
  scrollbar-color: #1b5300 #7db46cff; /* scroll thumb and track */
}

/* Modal Content/Box */
.modal-content {
  background-color: #e3fbe3;
  margin: 15% auto;
  padding: 42px;
  border: 1px solid #888;
  overflow: hidden;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.books-grp {
  width: 100%;
  height: auto;
  overflow-x: auto;
  padding-top: 15px;
  background-color: #e3fbe3;
}

.books-grp .books {
  width: 2000px;
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
}

.books-grp .book {
  width: 200px;
  padding: 10px;
  text-align: center;
}

.modal-content > h2 {
  color: #1b5300;
  font-size: 25px;
}

.modal-sub-title {
  margin-top: 15px;
  font-size: 20px;
  color: #1b5300;
}

.books-grp .book p {
  color: rgba(35, 31, 32, 0.7);
}

/* Media Quries */
@media screen and (max-width: 810px) {
  body {
    font-size: 16px;
  }

  .icon {
    min-height: 127px;
  }
  .site-banner {
    height: auto;
    flex-direction: column;
    width: 100%;
  }
  .site-banner-img {
    height: auto;
    width: 100%;
  }
  .site-banner-img > img {
    width: 100%;
    height: auto;
  }
  .icons-grp {
    width: 100%;
    height: 40%;
  }

  /* .diseaseSection {
    padding: 11em 0;
  } */

  .disease-title {
    width: 100%;
    max-width: 100%;
    padding-bottom: 35px;
  }

  .disease-title h2 {
    font-size: 30px;
  }

  .disease-row {
    margin: 0 -6px;
    flex-direction: column;
  }

  .icon-box-cover {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
  }
  .more-btn {
    padding: 15.5px 32px;
  }
  .more-btn-grp a {
    min-width: 150px;
    font-size: 12px;
  }

  .whychoose {
    width: 100% !important;
    max-width: 100% !important;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
  }

  .why-header {
    width: 100%;
    max-width: 100%;
  }

  .why-header h1 {
    margin: 0 auto;
    font-size: 28px;
  }

  .why-text {
    max-width: 100%;
    font-size: 17px;
  }

  .why-text p {
    width: 100%;
  }

  .whychoose-grid {
    margin-bottom: 30px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  .service-section {
    position: relative;
    padding: 42px 0;
    overflow: hidden;
  }

  .service {
    width: 100% !important;
    max-width: 100% !important;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
  }

  .section-title {
    text-align: center;
    padding-bottom: 15px;
  }

  .section-title p {
    margin-bottom: 0;
  }

  .service-row {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  .service-btn-grp {
    padding-top: 15px;
    padding-bottom: 0;
  }

  .service-btn-grp button {
    width: 100%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7px;
    margin-bottom: 7px;
  }

  .advantage-section {
    position: relative;
    padding: 42px 0;
    overflow: hidden;
  }
  .whythis {
    padding-top: 0;
    width: 100% !important;
    max-width: 100% !important;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
  }

  .advantage-container {
    flex-direction: column;
  }

  .advantage-row {
    float: none !important;
    width: 100% !important;
    clear: both !important;
  }

  .advantage-grp {
    font-size: 125%;
    text-align: center;
    width: 100%;
  }

  .advantage-content-grp {
    width: 100%;
    max-width: 100%;
    padding-bottom: 15px;
  }

  .advantage-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50%, 2fr));
  }

  .advantage-card {
    width: 93%;
    max-width: 100%;
    margin-top: 10px;
  }

  .advantage-card-detail {
    min-height: 240px;
    /* display: flex;
justify-content: center;
align-items: center; */
  }

  .advantage-detail {
    font-size: 15px;
  }

  .form-section {
    float: none !important;
    width: 100% !important;
    clear: both !important;
  }

  .advantage-frm-grp {
    width: 100%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }

  .advantage-frm-grp .form-title {
    text-align: center;
    margin-top: 2em;
  }

  .stories-section {
    position: relative;
    padding: 42px 0;
    overflow: hidden;
  }

  .story-cont {
    width: 100% !important;
    max-width: 100% !important;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
  }

  .section-head-grp {
    text-align: center;
    padding-bottom: 15px;
  }

  .story-title p {
    margin-bottom: 0;
  }

  .stories-column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
    /* max-height: 700px; */
  }

  .stories-row {
    display: flex;
    width: auto;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    flex-wrap: nowrap;
    margin: 0 -8%;
    padding: 0 6%;
  }

  .stories-column {
    width: 100%;
    max-width: 297px;
    min-width: 297px;
    padding: 12px 0;
    margin-right: 24px;
  }

  .stories-column .card {
    white-space: normal;
    padding-bottom: 40px;
  }

  .stories-profile > img {
    width: 100%;
    height: auto;
  }

  .stories-btn-grp {
    padding: 0;
  }

  .footer-cont {
    width: 100%;
  }

  .footer-row {
    flex-direction: column;
  }

  .fab-container {
    position: fixed;
    bottom: 25px;
    right: 15px;
  }
  .fab-container2 {
    position: fixed;
    bottom: 25px;
    right: 15px;
  }
}

@media screen and (max-width: 1317px) {
  .shit-tech {
    width: 90%;
  }
  .advantage-container {
    flex-direction: column;
  }
  .advantage-row {
    width: 100%;
    height: auto;
  }

  .form-section {
    width: 100%;
  }
  .advantage-frm-grp {
    width: 100%;
    margin-top: 2em;
    max-width: 394px;
  }
  .form-section h4 {
    text-align: center;
  }
}
